aspnet-mvc/kendoui-northwind-dashboard/bin
aspnet-mvc/kendoui-northwind-dashboard/obj
db
aspnet-mvc/kendoui-northwind-dashboard/App_Data/NORTHWND_log.ldf
aspnet-mvc/kendoui-northwind-dashboard/App_Data/Northwind_log.ldf
aspnet-mvc/kendoui-northwind-dashboard/App_Data/Northwind.mdf
aspnet-mvc/kendoui-northwind-dashboard/App_Data/Northwind.mdf
aspnet-mvc/kendoui-northwind-dashboard/App_Data/Northwind_log.ldf