html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li,
table, tfoot, thead, tr, th, td,
article, aside, canvas, details, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
  font-size: 12px;
}

ol, ul {
  list-style: none;
}

html, body {
height: 100%;
font-family: 'Open Sans',arial,sans-serif;
}

html,
body,
.container-fluid,
.row,
.column{
  height: 100%;
}

@font-face {
    font-family: 'icomoon';
    src:url('Fonts/icomoon.eot?-ntp99n');
    src:url('Fonts/icomoon.eot?#iefix-ntp99n') format('embedded-opentype'),
        url('Fonts/icomoon.woff?-ntp99n') format('woff'),
        url('Fonts/icomoon.ttf?-ntp99n') format('truetype'),
        url('Fonts/icomoon.svg?-ntp99n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
    content: "\e600";
}
.icon-faves:before {
    content: "\e601";
}
.icon-star-empty:before {
    content: "\e602";
}
.icon-chart-column:before {
    content: "\e603";
}

.icon {
    margin-right: 10px;
}

.row {
   padding: 0 !important;
}

#nav-column{
  background-color: #35373d;
}

#nav-column li {
    border-bottom: 1px solid #4a4b51;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding: 30px 0;
}


#nav-column li a {
    display: block;
    padding-left: 30px;
    /*line-height: 70px;
    vertical-align: middle;*/
    color: #b8bbc2;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
}

#nav-column li:hover {
    background-color: #212329;
    color: #fff;
}
#nav-column li:active {
    background-color: #0d1016;
    color: #fff;
}

.column{
  padding-left: 0;
  padding-right: 0;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    background: none;
}

#dash-logo,
.main-section-header{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    /*line-height: 70px;
    height: 70px;*/
    /*vertical-align: middle;*/
    /*padding-left: 15px;*/
    padding: 30px 0 30px 30px;
}

#dash-logo {
    color: #fff;
    background-color: #1996e4;
}

.main-section-content{
    border-top: 1px solid #ededee;
}

#sidebar-nav{
  padding: 0;
}

#toggle-button {
    margin-top: 15px;
    border: none;
}

#toggle-button:hover,
#toggle-button:focus {
    background-color: transparent;
}

#toggle-button .icon-bar {
    background-color: #fff;
}

/*.navbar-collapse.in {
    overflow-y: visible;
}*/

/*.nav {
    height: auto;
}*/

#sidebar-nav{
    max-height: 100%;
}

@media screen and (min-width: 768px) and (max-width:1024px)  {
    
}

@media screen and (max-width: 768px) {
  .column{
    height: auto;
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 12px;
  }
}
li.active {
    background-color: #000000;
}

/* team efficiency */
#team-efficiency {
    float: left;
}

#dateFilter {
    float: right;
    padding: 30px;
}

.main-section-content,
#header-wrapper {
    margin: 0;
    padding: 0;

}

#header-wrapper {
    height: auto;
}

#employee-list-column,
#employee-details-column {
    padding: 0;
}

#employee-list-column h3 {
    padding: 30px;
    font-size: 11px;
    color: #35373d;
}

.employee {
    padding: 15px;
   
}

.name {
    font-size: 14px;
    color: #35373d;
    display:inline-block;
}

.title {
    font-size: 9px;
    text-transform: uppercase; 
    display: inline-block;   
}

.employee.k-state-selected {
    background-color: #6abd2d;
}

.k-state-selected .name,
.k-state-selected .title {
    color: #fff;
}

#EmployeeQuarterSalesLabel,
#EmployeeAverageSalesLabel {
    font-size: 36px;
}

.employee-list-image,
.employee-details-image {
    float: left;
    margin-left: 30px;
}

.employee-list-image {
    border-radius: 30px;
    margin-right: 16px;
}

.employee-details-image {
    border-radius: 45px;
    border: 2px solid #737374;
   
    margin-right: 20px;
}

#employeeAbout h3 {
    font-size: 11px;
    color: #35373d;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 12px;
}

.placeholder {
    margin-bottom: 20px;
}

.employee-list-details,
.employee-bio-details {
    vertical-align: middle;
}

.employee-list-details {
    line-height: 60px;
}

.employee-bio-details {
    /*line-height: 57px;*/
}

.select-period {
    margin-right: 10px;
    margin-left: 30px;
    text-transform: uppercase;
}

/* clear floats */
.employee:after,
.bio:after {
    content:"";
    clear:both;
    display: block;
}
