html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li,
table, tfoot, thead, tr, th, td,
article, aside, canvas, details, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
  font-size: 12px;
}

ol, ul {
  list-style: none;
}

html, body {
height: 100%;
font-family: 'Open Sans',arial,sans-serif;
}

html,
body,
.container-fluid,
.row,
.column{
  height: 100%;
}

/* font */
@font-face {
	font-family: 'icomoon';
	src:url('Fonts/icomoon.eot?c8m22a');
	src:url('Fonts/icomoon.eot?#iefixc8m22a') format('embedded-opentype'),
		url('Fonts/icomoon.woff?c8m22a') format('woff'),
		url('Fonts/icomoon.ttf?c8m22a') format('truetype'),
		url('Fonts/icomoon.svg?c8m22a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
	content: "\e600";
}
.icon-faves:before {
	content: "\e601";
}
.icon-star-empty:before {
	content: "\e602";
}
.icon-chart-column:before {
	content: "\e603";
}
.icon-mobile:before {
	content: "\e604";
}


.icon {
    margin-right: 10px;
}

/* Bootstrap overrides*/
/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 0;
}*/

.row,
.container-fluid {
   padding: 0 !important;
   margin: 0;
}

#nav-column{
  background-color: #35373d;
}

#nav-column li {
    border-bottom: 1px solid #4a4b51;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding: 30px 0;
}


#nav-column li a {
    display: block;
    padding-left: 30px;
    /*line-height: 70px;
    vertical-align: middle;*/
    color: #b8bbc2;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
}

#nav-column li:hover {
    background-color: #212329;
    color: #fff;
}
#nav-column li:active {
    background-color: #0d1016;
    color: #fff;
}

.column{
  padding-left: 0;
  padding-right: 0;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    background: none;
}

#dash-logo,
.main-section-header{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    /*line-height: 70px;
    height: 70px;*/
    /*vertical-align: middle;*/
    /*padding-left: 15px;*/
    padding: 30px 0 30px 30px;
}

#dash-logo {
    color: #fff;
    background-color: #1996e4;
}

.main-section-content{
    /*border-top: 1px solid #ededee;*/
    /*-moz-box-shadow: 1px 0 4px #ededee inset;
    -webkit-box-shadow: 1px 0 4px #ededee inset;
    box-shadow: 1px 0 4px #ededee inset;*/
}

#header-wrapper {
    border-bottom: 1px solid #ededee;
    -moz-box-shadow: 1px 0 4px #ededee;
    -webkit-box-shadow: 1px 0 4px #ededee;
    box-shadow: 1px 0 4px #ededee;
}

#sidebar-nav{
  padding: 0;
}

#toggle-button {
    margin-top: 27px;
    border: none;
}

#toggle-button:hover,
#toggle-button:focus {
    background-color: transparent;
}

#toggle-button .icon-bar {
    background-color: #fff;
}

/*.navbar-collapse.in {
    overflow-y: visible;
}*/

/*.nav {
    height: auto;
}*/

#sidebar-nav{
    max-height: 100%;
}

li.active {
    background-color: #000000;
}

/* team efficiency */
#team-efficiency {
    /*float: left;*/
}

#dateFilter {
    /*float: right;*/
    padding: 30px;
    text-align: right;
}

.main-section-content,
#header-wrapper {
    margin: 0;
    padding: 0;

}

#header-wrapper {
    height: auto;
}

#employee-list-column,
#employee-details-column {
    padding: 0;
}

#employee-list-column h3 {
    padding: 30px;
    font-size: 11px;
    color: #35373d;
}

#employee-details-column {
      /*border-top: 1px solid #ededee;*/
    /*-moz-box-shadow: 1px 0 4px #ededee inset;
    -webkit-box-shadow: 1px 0 4px #ededee inset;
    box-shadow: 1px 0 4px #ededee inset;*/
}

/*.employee {
  
    padding: 15px 0 15px 15px;

    border-bottom: 1px solid red;
}*/

.employee-wrapper {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px 0;
    margin-left: 30px;
}

.employee.k-state-selected .employee-wrapper{
    border-top: 1px solid #6abd2d;
    border-bottom: 1px solid #6abd2d;
}

.name {
    font-size: 14px;
    color: #35373d;
    /*display:inline-block;*/
}

.title {
    font-size: 9px;
    color: #8a8b8f;
    text-transform: uppercase; 
    display: inline-block;   
}

.phone {
    font-size: 10px;
    color: #35373d;
}

.employee.k-state-selected {
    background-color: #6abd2d;
}

.k-state-selected .name,
.k-state-selected .title {
    color: #fff;
}

#EmployeeQuarterSalesLabel,
#EmployeeAverageSalesLabel {
    font-size: 36px;
    display: inline-block;
    margin: 0 auto 10px;
}

.employee-list-image,
.employee-details-image {
    /*float: left;
    margin-left: 30px;*/
}

.employee-list-image,
.employee-details-image,
.employee-list-details,
.employee-bio-details {
    display: inline-block;
}

.employee-list-image {
    border-radius: 30px;
    margin-right: 5px;
}

.employee-details-image {
    border-radius: 45px;
    border: 2px solid #737374;
   
    margin-right: 20px;
}

#employeeAbout {
    /*background: #6abd2d;*/
}

#employeeAbout h3 {
    font-size: 11px;
    color: #35373d;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 12px;
}

.placeholder {
    margin-bottom: 20px;
}

.employee-list-details,
.employee-bio-details {
    vertical-align: middle;
}

/*.employee-list-details {
    line-height: 30px;
}*/

/*.employee-bio-details {
    line-height: 47px;
}*/

.employee-bio-details dt{
    font-size: 18px;
    line-height: 18px;
    margin: 4px auto;
}

    .employee-bio-details dd {
        margin: 4px auto;
  
    }

.select-period {
    margin-right: 10px;
    margin-left: 30px;
    text-transform: uppercase;
  
}

/* clear floats */
.employee:after,
.bio:after {
    content:"";
    clear:both;
    display: block;
}

#employee-list-column {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eeeeee;
    /*border-top: 1px solid #ededee;*/
    /*-moz-box-shadow: 1px 0 4px #dfdfdf inset;
    -webkit-box-shadow: 1px 0 4px #dfdfdf inset;
    box-shadow: 1px 0 4px #dfdfdf inset;*/
}

#EmployeesList{
    background-color: #eeeeee;
    border: none;
    border-top: 1px solid #dbdbdb;
}

.period-wrapper {
    display: inline-block;
}


.k-sparkline {
    display: inline-block;
    width: 100%;
}


/*max-width: 768px -> .col-xs- */
@media screen and (max-width: 768px) {
  .column{
    height: auto;
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 12px;
  }

  .employee-list-details .title,
  .employee-list-details .name {
        display:none;
    }

    .employee-list-image {
        display: inline-block;
    }
  

}

/*min-width: 768px -> .col-sm- */
@media screen and (min-width: 768px) and (max-width:992px)  { 
    .name {
        /*color: blue !important;*/
 
    }

    #EmployeeQuarterSalesLabel,
    #EmployeeAverageSalesLabel {
        font-size: 24px;
    }

    
    /*.employee-list-details .title,
    .employee-list-details .name {
        display:none;
    }*/
}

/*min-width: 992px -> .col-md- */
@media screen and (min-width: 992px) and (max-width:1200px) {
       /*#dash-logo {
        font-size: 16px;
    }
       #sidebar-nav .nav li a{
        font-size: 8px;
    }*/      
}

/*min-width: 1200px -> .col-lg- */
@media screen and (min-width: 1200px){

}

@media screen and (max-width: 992px) {
    #dash-logo {
        font-size: 16px;
    }
    #sidebar-nav .nav li a{
        font-size: 8px;
    }
}

/* additional rules */
@media screen and (max-width: 1096px) {
    .employee-list-details .title,
    .employee-list-details .name {
        display:none;
    }
            
    .employee-list-image {
        display: inline-block;
    }
}

@media screen and (max-width: 1196px){
   .employee-details-image{
        display: none;
    }
     
}

@media screen and (min-width: 1092px) and (max-width: 1570px){
    .employee-list-image {
        display: none;
    }
    #dash-logo {
        font-size: 16px;
    }
       #sidebar-nav .nav li a{
        font-size: 8px;
    }
}

@media screen and (min-width: 995px) and (max-width: 1092px){

    #dash-logo {
        font-size: 16px;
    }
       #sidebar-nav .nav li a{
        font-size: 8px;
    }
}

