@using KendoUI.Northwind.Dashboard.Models;

<style>
    #slc {
        width: 200px;
        border: 1px solid black;
    }

</style>

<div id="main-section-header" class="row">
    <h2 id="team-efficiency" class="col-xs-3">About the Sample Application</h2>     
</div>

<div class="main-section-content row" style="">
    <h3>Telerik Northwind Dashboard - Sample Application built with Telerik Kendo UI</h3>
    <p>Server-side code available for ASP.NET MVC, PHP and JSP</p>
    <p>Telerik Northwind Dashboard is a web app built with Telerik HTML5 Kendo UI widgets and their server-side wrappers for ASP.NET MVC, PHP and JSP. The app showcases some of the most popular Kendo UI widgets such as Scheduler, Grid, TabStrip, Charts and Map and it’s enabled for touch. It has a simple and responsive UI based on Twitter Bootstrap and works on a wide range of devices. 
    The sample app is aimed at executives, analysts, or sales representatives. It is helps them establish targets based on insights into historical data as well as track sales and product performance in real time. 
    Download the source code for:</p>   
    -	HTML5
    -	ASP.NET MVC
    -	PHP
    -	JSP

    <p>Featured  jQuery & HTML5 UI Components</p>
    <ul>
        <li>Scheduler</li>
        <li>Grid</li>
        <li>TabStrip</li>
        <li>ListView</li>
        <li>DropDownList</li>
        <li>Drawer</li>
        <li>Kendo UI Charts</li>
        <li>Map</li>

    </ul>
    <p>Framework</p>
    <ul>
        <li>Validator</li>
    </ul> 
</div>