@using KendoUI.Northwind.Dashboard.Models;
<div id="main-section-header" class="row">
    <h2>About the Sample Application</h2>     
</div>

<div id="about" class="main-section-content row">
    <h3 class="sub-title">Telerik Northwind Dashboard - Sample Application built with Telerik Kendo UI</h3>
    <p>Server-side code available for ASP.NET MVC</p>
    <p>Telerik Northwind Dashboard is a web app built with Telerik <a href="http://www.telerik.com/kendo-ui">HTML5 Kendo UI widgets</a> and their server-side wrappers for <a href="http://www.telerik.com/aspnet-mvc">ASP.NET MVC</a>.
         The app showcases some of the most popular Kendo UI widgets such as Scheduler, Grid, TabStrip, Charts and Map and it’s enabled for touch. It has a simple and responsive UI based on <a href="http://getbootstrap.com/">Twitter Bootstrap</a> and works on a wide range of devices.</p> 
    <p>The sample app is aimed at executives, analysts, or sales representatives. It is helps them establish targets based on insights into historical data as well as track sales and product performance in real time.</p>   
   
    <p class="sub-title">Featured  jQuery & HTML5 UI Components</p>
    <ul>
        <li><a href="http://www.telerik.com/kendo-ui/scheduler">Scheduler</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/grid">Grid</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/tabstrip">TabStrip</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/datetimepickers">Date Picker</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/datetimepickers">ListView</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/dropdownlist">DropDownList</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/drawer">Kendo UI Charts</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/map">Map</a></li>
        <li><a href="http://www.telerik.com/kendo-ui/tooltip">Tooltip</a></li>        
    </ul>
    <p class="sub-title">Framework</p>
    <ul>
        <li><a href="http://demos.telerik.com/kendo-ui/web/templates/index.html">Templates</a></li>
        <li><a href="http://demos.telerik.com/kendo-ui/web/validator/index.html">Validator</a></li>
    </ul> 
</div>