@using KendoUI.Northwind.Dashboard.Models;

<style>
    #slc {
        width: 200px;
        border: 1px solid black;
    }

</style>

<div id="slc">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#About").addClass("active");
    });
</script>