@using KendoUI.Northwind.Dashboard.Models;

<style>
    #EmployeesList {
        width: 250px;
        float:left;
    }
    #employeeDetails {
        float: left;
        width: 80%;
    }
    .employee {
        display: block; 
        padding: 2px;
    }
    /*.k-scheduler-monthview .k-scheduler-table td {
        height:200px !important; 
    }*/
    #employeeBio {
        height: 200px;
        background-color: white; 
    }
    #employeeStats {
        height: 200px;
        background-color: white; 
    }

</style>
<script type="text/x-kendo-tmpl" id="template">
    <div class="employee">
        <img src="@(Url.Content("~/content/employees/"))#:EmployeeID#.jpg" /> 
        <span>#:FirstName#</span> <span>#:LastName#</span> <br>
        <span>#:Title#</span>
    </div>

</script>

<script>
    function onListChange(e) {
        var scheduler = $("#EmployeeSales").data("kendoScheduler");
        var chart = $("#SalesChart").data("kendoChart");
        var EmployeeID = this.dataSource.getByUid(this.select().attr("data-uid")).EmployeeID;
        scheduler.dataSource.filter({ field: "EmployeeID", operator: "eq", value: EmployeeID });
        chart.dataSource.read({ EmployeeID: EmployeeID });
    }
</script>
<div id="header">
    <h1>TEAM EFFICIENCY</h1>
</div>


@(Html.Kendo().ListView<EmployeeViewModel>()
    .Name("EmployeesList") 
    .TagName("div")
    .Events(e=>e.Change("onListChange"))
    .ClientTemplateId("template")
    .DataSource(dataSource => {
        dataSource.Read(read => read.Action("Employees_Read", "Employees"));
        dataSource.PageSize(12);
    }) 
    .Selectable(s=>s.Mode(ListViewSelectionMode.Single)) 
)
<div id="employeeDetails">
    <div id="employeeBio">bio</div>
    <div id="employeeStats">
        @(Html.Kendo().Chart<SaleStatsViewModel>()
            .Name("SalesChart")
            .HtmlAttributes(new {style = "height:200px;" } )
            .AutoBind(false)
            .DataSource(ds => ds.Read(read => read.Action("SalesByEmployee", "Employees")))
            .Series(series =>
            {
                series.Column(model => model.OrderAmount, categoryExpression: model => model.OrderDate);
                series.Column(model => model.TotalAmount, categoryExpression: model => model.OrderDate);
            })
            .CategoryAxis(axis => axis
                .Date()
                .BaseUnit(ChartAxisBaseUnit.Months)
                .Labels(labels => labels.Rotation(-90))
                .MajorGridLines(lines => lines.Visible(false))
            )
            .ValueAxis(axis => axis.Numeric()
                .Labels(labels => labels.Format("{0:N0}"))
                .MajorUnit(5000)
                .Line(line => line.Visible(false))
            )
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Format("{0:N0}")
            )

        )


    </div>
    <div id="employeeSchedule">
        @(Html.Kendo().Scheduler<SaleViewModel>()
            .Name("EmployeeSales")
            .AutoBind(false)
            .Date(new DateTime(1998, 2, 1))
            .Views(views =>
            {
                views.MonthView();
            })
            .Editable(false)
            .Timezone("Etc/UTC")
            .Resources(resource =>
            {
                resource.Add(m => m.EmployeeID)
                    .Title("Employee") 
                    .DataTextField("EmployeeName")
                    .DataValueField("EmployeeID") 
                    .DataSource(dataSource => { 
                        dataSource.Read(read => read.Action("SalesResources_Read", "Employees"));
                    });
            })
            .DataSource(d => d.Read("Sales_read", "Employees"))
        )
    </div>
</div>